@font-face {
  font-family: BalsamiqSans;
  src: url(./graphics/balsamiq_sans/BalsamiqSans-Regular.ttf)
}

.super-title {
  font-family: BalsamiqSans;
  font-size: xx-large;
}

.title {
  font-family: BalsamiqSans;
  font-size: x-large;
}

.subtitle {
  font-family: BalsamiqSans;
  font-size: large;
}

.body-text {
  font-family: BalsamiqSans;
  font-size: medium;
}

.color-contrasted {
  color: lightgray;
}

.color-accented {
  color: whitesmoke;
}

.color-harmony {
  color: #00e400;
}

.visible {
  visibility: visible;
}

.collapsed {
  visibility: collapse;
  display: none !important;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.App {
  text-align: center;
}

.Session-Side-List {
  height: 100%;
  background-color: #282c34;
  display: flex, inline-block;
  text-align: left;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  color: black;
}

.Session-Component {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Session-Entry-Text{
  font-family: BalsamiqSans;
  text-align: left;
  align-content: left;
  overflow: hidden;
  white-space: nowrap;
  font-size: calc(10px + 2vmin);
  text-overflow: ellipsis;
  text-indent: 1em;
}

.container.show .innerBox {
  display: block;
}

#root {
  width: 100vw;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

#app-container {
  max-width: 100% !important;
  min-width: 800px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#top-container {
  min-height: 600px;
  height: calc(100% - 120px);
  margin: 0;
}

#side-list-container {
  padding: 0;
  width: 225px;
  min-width: 225px;
}

#screen-container {
  background-color: #171717;
  padding: 0;
  width: 100%;
  min-width: 575px;
  height: 100%;
  overflow-x: hidden !important;
  overflow-y: scroll;
}

#bottom-container {
  min-height: 120px;
  height: 120px;
  margin: 0;
}

/* Player */
#player-container {
  height: 120px;
  background-color: #505050;
  width: 100%;
  min-height: 120px;
  display: flex;
  align-items: center;
  padding: 0;
}

#player-container .row {
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

#player-container .col {
  padding: 0;
}

#player-display {
  margin: 0;
  width: 240px;
  min-width: 240px;
  max-width: 240px;
  height: 100%;
  text-align: center;
}

#player-song-image-container {
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#player-song-image {
  background: transparent !important;
  border: none;
  height: 100px;
  width: 100px;
}

#player-song-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 120px;
  text-align: left;
  overflow: hidden;
}

#player-song-title div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#player-song-title div:hover {
  overflow: visible;
  animation: marquee 5s linear 1;
  text-decoration: underline;
  cursor: default;
}

@keyframes marquee {
  0%   { transform: translate(0, 0); }
  50%  { 
    transform: translate(-100%, 0);
  }
  50.01% {
    transform: translate(100%, 0);
  }
  100% { transform: translate(0%, 0); }
}

#player-controls {
  padding: 0;
  width: calc((100% - 240px - 200px));
  height: 100%;
  justify-content: center;
  align-items: center;
}

#player-volume-container {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  height: 100%;
}

#player-volume-container .row {
  justify-content: left;
}

#player-controls-main-container {
  height: 60% !important;
  align-items: center;
  justify-content: center;
}

#player-progress-bar-container {
  height: 40% !important;
  justify-content: center;
  align-items: center;
}

#player-progress-bar-container span {
  display: inline-block !important;
  min-width: 250px;
  width: 70% !important;
}

.player-progress-display {
  padding: 10px;
  width: 50px;
}

#player-song-favorite-button {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  position: absolute;
  bottom: 6px;
  right: 0;
  cursor: default;
}

.player-control-button {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

#player-mute-button {
  padding: 0;
}

#player-volume-bar-container {
  padding: 12px !important;
  min-width: 130px;
}

#player-volume-bar-container span {
  display: inline-block !important;
  width: 100%;
}

.player-song-favorite-button-icon {
  height: 25px;
  width: 25px;
}

.player-song-favorite-button-icon-on {
  background-color: lightgray;
  height: 25px;
  width: 25px;
}

.player-control-button-icon {
  height: 35px;
  width: 35px;
}

.player-control-button-icon-on {
  border: 3px solid #32cd32;
  background-color: #32cd32;
  height: 35px;
  width: 35px;
}

.player-control-button-icon:hover, .player-control-button-icon-on:hover, #player-mute-button-icon:hover {
  background-color: white;
}

.player-control-button-icon:active, .player-control-button-icon-on:active, #player-mute-button-icon:active {
  background-color: darkgray;
}

#player-mute-button-icon {
  height: 25px;
  width: 25px;
}

/* Home Screen */
#home-screen-container {
  padding: 30px;
}

.home-screen-category-container {
  width: 100%;
  padding: 10px;
}

.home-screen-category-name {
  padding: 10px 5px 10px 5px;
  font-size: 30px;
}

.home-screen-category-list {
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap !important;
}

.home-screen-category-list-item {
  flex: 0 0 auto !important;
  height: 240px;
  width: 200px;
  background-color: gray !important;
}

.home-screen-category-list-item-img {
  height: 160px;
  width: 160px;
  background-color: gray;
}

.home-screen-category-list-item-footer {
  display: block;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home-screen-category-list-item-footer div{
  width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}

.home-screen-category-list-item-footer div:hover {
  overflow: visible;
  animation: marquee 5s linear 1;
  text-decoration: underline;
  cursor: default;
}

/* Search Screen */
.search-screen-container {

}

/* Search Box */
.search-screen-search-box-container {
  border: 1px solid #303030;
  border-radius: 5px;;
}

.search-screen-search-box {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.search-screen-search-box-clear-button {
  right: 10px;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.search-screen-search-box-clear-button-icon {
  height: 20px;
  width: 20px;
}

/* History */
.search-screen-history-title {
  padding: 10px 0px 0px 20px;
}

.search-screen-history-item {
  height: 150px;
  background-color: #171717 !important;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.search-screen-history-item:hover {
  background-color: darkgray !important;
}

.search-screen-history-item-type {

}

.search-screen-history-item-container {
  display: flex;
  padding: 10px;
  justify-content: left;
}

.search-screen-history-item-display-image {
  height: 60px;
  width: 60px;
}

.search-screen-history-item-display-container {
  padding: 10px 10px 10px 20px;
}

.search-screen-history-item-display-container div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.search-screen-history-item-remove-button {
  position: absolute;
  right: 50px;
  bottom: 35%;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.search-screen-history-item-remove-button-icon {
  height: 20px;
  width: 20px;
}

/* Results */
.search-screen-results-category-container {
  width: 100%;
  padding: 10px;
}

.search-screen-results-category-name {
  padding: 10px 5px 0px 25px;
  font-size: 30px;
  border-bottom: 1px solid #303030;
  margin-bottom: 15px;
}

.search-screen-results-category-list {
  overflow-x: auto;
  overflow-y: hidden;
  padding-left: 20px;
}

.search-screen-results-category-list-item {
  flex: 0 0 auto !important;
  height: 190px;
  width: 150px;
  background-color: gray !important;
  margin-bottom: 20px !important;
}

.search-screen-results-category-list-item-img {
  height: 120px;
  width: 120px;
  background-color: gray;
}

.search-screen-results-category-list-item-footer {
  display: block;
  overflow: hidden;
}

.search-screen-results-category-list-item-footer div{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.search-screen-results-category-list-item-footer div:hover {
  overflow: visible;
  animation: marquee 3s linear 1;
  text-decoration: underline;
  cursor: default;
}