@font-face {
  font-family: BalsamiqSans;
  src: url(./graphics/balsamiq_sans/BalsamiqSans-Regular.ttf)
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.App {
  text-align: center;
}

.Session-Side-List {
  height: 100%;
  background-color: #282c34;
  display: flex, inline-block;
  text-align: left;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  color: black;
}

.Session-Component {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Session-Entry-Text{
  font-family: BalsamiqSans;
  text-align: left;
  align-content: left;
  overflow: hidden;
  white-space: nowrap;
  font-size: calc(10px + 2vmin);
  text-overflow: ellipsis;
  text-indent: 1em;
}

.container.show .innerBox {
  display: block;
}

#root {
  width: 100vw;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

#app-container {
  max-width: 100% !important;
  min-width: 800px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#top-container {
  min-height: 600px;
  height: calc(100% - 120px);
  margin: 0;
}

#side-list-container {
  padding: 0;
  width: 225px;
  min-width: 225px;
}

#screen-container {
  background-color: gray;
  padding: 0;
  width: 575px;
  min-width: 575px;
}

#bottom-container {
  min-height: 120px;
  height: 120px;
  margin: 0;
}

/* Music Player */
#player-container {
  height: 120px;
  background-color: #505050;
  width: 100%;
  min-height: 120px;
  display: flex;
  align-items: center;
  padding: 0;
}

#player-container .row {
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

#player-container .col {
  padding: 0;
}

#player-display {
  margin: 0;
  width: 240px;
  min-width: 240px;
  max-width: 240px;
  height: 100%;
  text-align: center;
}

#player-song-image-container {
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#player-song-image {
  background: transparent !important;
  border: none;
  height: 100px;
  width: 100px;
}

#player-song-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 120px;
  font-family: BalsamiqSans;
  color: lightgray;
  text-align: left;
  overflow: hidden;
}

#player-song-title div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#player-song-title div:hover {
  text-overflow: clip;
  animation: marquee 5s linear 1;
}

@keyframes marquee {
  0%   { transform: translate(0, 0); }
  50%  { 
    transform: translate(-100%, 0);
  }
  50.01% {
    transform: translate(100%, 0);
  }
  100% { transform: translate(0%, 0); }
}

#player-controls {
  padding: 0;
  width: calc((100% - 240px - 200px));
  height: 100%;
  justify-content: center;
  align-items: center;
}

#player-volume-container {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  height: 100%;
}

#player-volume-container .row {
  justify-content: left;
}

#player-controls-main-container {
  height: 60% !important;
  align-items: center;
  justify-content: center;
}

#player-progress-bar-container {
  height: 40% !important;
  justify-content: center;
  align-items: center;
}

#player-progress-bar-container span {
  display: inline-block !important;
  min-width: 250px;
  width: 70% !important;
}

.player-progress-display {
  padding: 10px;
}

#player-song-favorite-button {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  position: absolute;
  bottom: 6px;
  right: 0;
  cursor: default;
}

.player-control-button {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

#player-mute-button {
  padding: 0;
}

#player-volume-bar-container {
  padding: 12px !important;
  min-width: 130px;
}

#player-volume-bar-container span {
  display: inline-block !important;
  width: 100%;
}

.player-song-favorite-button-icon {
  height: 25px;
  width: 25px;
}

.player-song-favorite-button-icon-on {
  background-color: lightgray;
  height: 25px;
  width: 25px;
}

.player-control-button-icon {
  height: 35px;
  width: 35px;
}

.player-control-button-icon-on {
  border: 3px solid #32cd32;
  background-color: #32cd32;
  height: 35px;
  width: 35px;
}

.player-control-button-icon:hover, .player-control-button-icon-on:hover, #player-mute-button-icon:hover {
  background-color: white;
}

.player-control-button-icon:active, .player-control-button-icon-on:active, #player-mute-button-icon:active {
  background-color: darkgray;
}

#player-mute-button-icon {
  height: 25px;
  width: 25px;
}

/* Home Screen */
