@font-face {
  font-family: BalsamiqSans;
  src: url(./graphics/balsamiq_sans/BalsamiqSans-Regular.ttf)
}

.App {
  text-align: center;
}

.Session-Side-List {
  height: 100%;
  background-color: #282c34;
  display: flex, inline-block;
  text-align: left;
  width: 100%;
  
  flex-direction: column;
  justify-content: center;
  color: black;
  
}

.list-group-session :nth-child(even) .list-group-item  {
  background-color: #60a85e;
  min-width: 100px;
  
}
.list-group-session :nth-child(odd) .list-group-item  {
  background-color: #264725;
  min-width: 100px;
 
}



.Session-Entry-Text{
  font-family: BalsamiqSans;
  text-align: left;
  align-content: left;
  overflow: hidden;
  white-space: nowrap;
  font-size: 20px;
  text-overflow: ellipsis;
  text-indent: 1em;
  color: white;
  
}

.switch {    
  position : relative ;   
  display : inline-block;   
  width : 40px;   
  height : 20px;   
  background-color: #eee;   
  border-radius: 20px; 
}
.switch::after {  
  content: '';  
  position: absolute;  
  width: 18px;  
  height: 18px;  
  border-radius: 50%; 
  background-color: white;  
  top: 1px;
  left: 1px;  
  transition: all 0.3s;
}

.checkbox { 
  display : none;
}

.checkbox:checked + .switch::after {  
  left : 20px; 
}
.checkbox:checked + .switch {  
  background-color: #7983ff;
}

.container.show .innerBox {
  display: block;
}

#app-container {
  margin: 0;
  padding: 0;
  max-width: 100% !important;
  height: 100vh;
  overflow: hidden;
}

#top-container {
  height: 86%;
}

#side-list-container {
  padding: 0;
}

#screen-container {
  background-color: #383838;
}

#bottom-container {
  height: 14%;
}

/* Music Player */
#player-container {
  height: 140px;
  background-color: #505050;
  min-width: 1500px;
  min-height: 140px;
  display: flex;
  align-items: center;
}

#player-container .row {
  align-items: center;
  width: 100%;
}

#player-display {
  margin: auto;
  text-align: center;
}

#player-display .row {
  margin-left: 15px;
  margin-right: 0;
}

#player-song-image {
  background: transparent !important;
  border: none;
  height: 120px;
  width: 120px;
}

#player-song-title {
  height: 100%;
  width: 100%;
  font-family: BalsamiqSans;
  color: lightgray;
  text-align: left;
}

#player-controls {
  justify-content: center;
  align-items: center;
}

#player-volume-bar-container {
  height: 100%;
}

.player-volume {
  width: 180px !important;
}

#player-progress-bar-container {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.player-progress-bar {
  width: 750px !important;
}

.player-progress-display {
  padding: 10px;
}

#player-controls-main-container {
  align-items: center;
  justify-content: center;
}

.player-control-button, #player-mute-button {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.player-control-button-icon {
  color: white;
  height: 45px;
  width: 45px;
}

.player-control-button-icon-on {
  border: 3px solid #32cd32;
  background-color: #32cd32;
  height: 45px;
  width: 45px;
}

.player-control-button-icon:hover, .player-control-button-icon-on:hover, #player-mute-button-icon:hover {
  background-color: white;
}

.player-control-button-icon:active, .player-control-button-icon-on:active, #player-mute-button-icon:active {
  background-color: darkgray;
}

#player-mute-button-icon {
  height: 25px;
  width: 25px;
}

/* Home Screen */
