@font-face {
  font-family: BalsamiqSans;
  src: url(./graphics/balsamiq_sans/BalsamiqSans-Regular.ttf)
}

body {
  margin: 0;
  font-family: BalsamiqSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
